.meufundo{
    background: url('https://img2.gratispng.com/20180309/ptw/kisspng-johns-hopkins-hospital-the-cancer-institute-hospit-city-%E2%80%8B%E2%80%8Bbuilding-5aa26d6ad58496.3931490715205942828746.jpg') center center no-repeat fixed; 
    -webkit-background-size: center;
    -moz-background-size: center;
    -o-background-size: center;
    background-size: center;
    background-color: #DFDFDF;
  }

  .dashboard-box {
    float: center;
    background-color: #DFDFDF;
    color: #FFF;
    padding: 550px;
    /* box-sizing: border-box; */
    height: 30px;
    width: 5%;
    text-align: center;
}

body {
  background: #2a2e32;
  }
  
  .text-small {
  font-size: 0.9rem;
  }
  
  a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  }
  
  a:hover, a:focus {
  text-decoration: none;
  }
  
  .form-control {
  background: #212529;
  border-color: #545454;
  }
  
  .form-control:focus {
  background: #212529;
  }
  
  footer {
  background: #255d00;
  }
  
  
body, html {
  height: 100%;
}

  